@import "tailwindcss";
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
} */
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
} */

/* h1{
  line-height: 1;
  font-size: 1rem;
}
h1>span{
  font-size: 1rem;
  color: cyan;
} */

#dark-theme {
  background-color: #101828;
}
#light-theme {
  background-color: #ffffff;
}
#bg-theme {
  background-color: #36415391;
}
#bg-theme-light {
  background-color: #cdcdcd6a;
  color: rgb(25, 25, 25);
}
#scrollbar{
  scrollbar-width: none;
}
