.usestate{
  height: 100%;
  width: 100%;
  display: flex;
  gap: 4rem;
  padding: 2rem;
}
.usestate>h1{
  font-size: 3rem;
  text-transform: capitalize;
}
details{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
button{
  padding-inline: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  padding-block: 0.5rem;
  margin-top: 1rem;
  background-color: rgb(93, 93, 255);
}