section{
    background: rgb(235, 235, 235);
    height: 100%;
    justify-content: center;
}
#card{
    width: 48%;
    background-color: rgb(255, 255, 255);
    border-style: none;
    padding: 2rem;
}
h1{
    color: black;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}
h1:nth-child(2),h1:nth-child(3){
    color: rgb(139, 96, 255);
    font-size: 1.2rem;
    padding: 0.3rem;
}

p{
    color: black;
    border: 1px dashed blue;
    background-color: rgba(118, 118, 255, 0.247);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
}
button{
    font-size: 1rem;
    text-transform: capitalize;
    margin-right: 0.5rem;
}
button:nth-child(3){
    background: greenyellow;
}
button:nth-child(4){
    background: #F0B100;
}
button:nth-child(3){
    background: greenyellow;
}